<h2>Edit Categories</h2>

<button (click)="redirect('/categories/edit/new')">Add new Category</button>

<div class="tasksArea">
  <div
    [ngStyle]="{
      background: '-webkit-linear-gradient(' + category.color + ', #000000)'
    }"
    class="task-container"
    *ngFor="let category of categories; let i = index"
  >
    <div class="task" (click)="redirect('categories/edit/' + category.id)">
      <div class="task-title-text" [innerHTML]="category.name"></div>
      <div class="task-last-post">Priority: {{ category.priorityPlace }}</div>
    </div>
    <button class="task-delete-btn" (click)="freezeCategoryTasks(category)">
      Freeze Tasks
    </button>
    <button class="task-delete-btn" (click)="unfreezeCategoryTasks(category)">
      Unfreeze Tasks
    </button>
    <!-- non-user made ids will be under 10 characters, and should not be deleted (for example: Default Category) -->
    <button
      *ngIf="category.id.length > 10"
      class="task-delete-btn"
      (click)="deleteCategory(category)"
    >
      Delete
    </button>
    <div>
      <button
        [disabled]="i == 0"
        class="task-delete-btn"
        (click)="movePriorityUp(category)"
      >
        ^
      </button>
      <br />
      <button
        [disabled]="i == categories.length - 1"
        class="task-delete-btn"
        (click)="movePriorityDown(category)"
      >
        v
      </button>
    </div>
  </div>
</div>

<div class="tippContainer">
  <strong>Tipp: </strong> You can Edit the order in which the Categories are
  shown in the Timeline. Use the arrows to move a category up/down to adujst
  their order.
</div>
