<h2>Edit Unregular Tasks List</h2>

<div class="tasksArea">
  <div
    class="task-container"
    *ngFor="let miniTask of miniTasks"
    [ngStyle]="{
      background:
        '-webkit-linear-gradient(' + getCategoryColor(miniTask) + ', #ffffff)'
    }"
  >
    <div class="task">
      <div class="task-title-text" [innerHTML]="miniTask.title"></div>
      XP: {{ miniTask.xp }}
    </div>
    <button class="task-delete-btn" (click)="deleteMiniTask(miniTask)">
      Delete
    </button>
  </div>
</div>

<div class="editRow">
  <div>
    <h4>Task Name</h4>
    <input [(ngModel)]="titleField" />
  </div>

  <div>
    <h4>XP Reward</h4>
    <input [(ngModel)]="xpField" type="number" min="0" max="{{ MAX_XP }}" />
  </div>

  <div class="addBtnContainer">
    <button (click)="addMiniTask()">Add Task</button>
  </div>
</div>
