<div class="tasksArea">
  <div class="task-container" *ngFor="let miniTask of miniTasks">
    <label [ariaDisabled]="isDisabledTask(miniTask.id)">
      <input
        [disabled]="isDisabledTask(miniTask.id)"
        type="checkbox"
        (change)="onCheckChange($event, miniTask)"
        [checked]="isDisabledTask(miniTask.id)"
      />
      {{ miniTask.title }}
    </label>
  </div>
  <button
    [disabled]="selectedMiniTasks.length == 0"
    (click)="emitSelectedMiniTasks()"
  >
    Add selected Mini-Tasks
  </button>
</div>
