<div class="tasksArea">
  <div class="task-container" *ngFor="let miniTask of miniTasks">
    <label [ariaDisabled]="isDisabledTask(miniTask.id)">
      <input
        [disabled]="isDisabledTask(miniTask.id)"
        type="checkbox"
        (change)="onCheckChange($event, miniTask)"
        [checked]="isDisabledTask(miniTask.id)"
      />
      {{ miniTask.title }}
    </label>
  </div>
  <div class="task-container">
    <input [(ngModel)]="customMiniTaskChecked" type="checkbox" />
    <input
      pInputText
      [disabled]="!customMiniTaskChecked"
      [(ngModel)]="customMiniTaskText"
      type="text"
      [style]="{ width: '60vw' }"
      placeholder="title"
    />
    <input
      pInputText
      [style]="{ width: '15vw' }"
      [disabled]="!customMiniTaskChecked"
      [(ngModel)]="customMiniTaskXP"
      type="number"
    />
  </div>
  <button
    [disabled]="
      selectedMiniTasks.length == 0 &&
      (!customMiniTaskChecked || customMiniTaskText == '')
    "
    (click)="emitSelectedMiniTasks()"
  >
    Add selected Tasks
  </button>
</div>
