<!-- <div><button (click)="onBackPressed()">Back</button></div> -->

<h1>Settings</h1>

<div class="editorRow">
  <div>
    <h4>Show Moons of the Day</h4>
    <input type="checkbox" />
  </div>
</div>

<div class="editorRow">
  <div>
    <h4>Theme</h4>
    dark/light
  </div>
</div>

<div class="editorRow">
  <div>
    <h4>Show all days, even those without tasks</h4>
    <input type="checkbox" />
  </div>
</div>

<div class="editorRow">
  <div>
    <h4>Background</h4>
    ...
  </div>
</div>

<div class="editorRow">
  <button (click)="onSavePressed()">Save</button>
</div>

<div class="editorRow">
  <div>
    <h4>Import / Export Data</h4>
    ...
  </div>
</div>

<div class="editorRow">
  <div>
    <h4 style="background-color: red">Clear all Data</h4>
    ...
  </div>
</div>
