<!-- <div><button (click)="onBackPressed()">Back</button></div> -->

<h1>Settings</h1>

<div *ngIf="options">
  <div class="editorRow">
    <div>
      <h4>Show Moons of the Day</h4>
      <select [(ngModel)]="options.showMoons">
        <option [value]="moonModes.None">None</option>
        <option [value]="moonModes.FullMoonOnly">Only Full Moons</option>
        <option [value]="moonModes.All">All</option>
      </select>
    </div>
  </div>

  <div class="editorRow">
    <div>
      <h4>Theme</h4>
      <select [(ngModel)]="options.theme">
        <option [value]="themes.Light">Light</option>
        <option [value]="themes.Dark">Dark</option>
      </select>
    </div>
  </div>

  <div class="editorRow">
    <div>
      <h4>Show all days, even those without tasks</h4>
      <input type="checkbox" [(ngModel)]="options.showAllDays" />
    </div>
  </div>

  <div class="editorRow">
    <div>
      <h4>Sort Mode for due tasks</h4>
      Sort first by...
      <select [(ngModel)]="options.dueTasksSortMode">
        <option [value]="dueSortMode.DueDuration">Due Duration</option>
        <option [value]="dueSortMode.Category">Category</option>
      </select>
    </div>
  </div>

  <div class="editorRow">
    <div>
      <h4>Background</h4>
      ...
    </div>
  </div>

  <div class="editorRow">
    <button (click)="onSavePressed()">Save</button>
  </div>

  <div class="editorRow">
    <div>
      <h4>Import / Export Data</h4>

      <button (click)="exportData()">Export</button>

      <button (click)="importClicked()">Import</button>

      <input
        #fileImportElement
        type="file"
        (change)="importApplicationData($event)"
        [hidden]="true"
        accept=".json"
      />
    </div>
  </div>

  <div class="editorRow">
    <div>
      <h4 style="background-color: red">
        <button (click)="onClearData()">Clear All Data</button>
      </h4>
    </div>
  </div>
</div>
