.optionsContainer {
  border-bottom: 1px solid black;
}

.saveOptionsBtn {
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.clearAllDataBtn {
  background-color: red;
}

.backgroundImagePreview {
  max-width: 200px;
  max-height: 400px;
}
