<div class="backAndSave">
  <p-button
    label="Back"
    icon="pi pi-arrow-left"
    (onClick)="onBackPressed()"
  ></p-button>
  <p-button
    label="Save"
    icon="pi pi-save"
    iconPos="right"
    (onClick)="onSavePressed()"
  ></p-button>
</div>

<h1 *ngIf="createNew">Create New Task</h1>
<h1 *ngIf="!createNew">Edit Task</h1>

<div class="editorRow">
  <div>
    <h4>Title</h4>
    <input pInputText [(ngModel)]="task.title" />
  </div>

  <div>
    <h4 *ngIf="createNew">First due date</h4>
    <h4 *ngIf="!createNew">Next due date</h4>
    <input type="date" [(ngModel)]="date" />
  </div>

  <div>
    <h4>Category</h4>
    <select [(ngModel)]="task.categoryId">
      <option *ngFor="let category of categories" [value]="category.id">
        {{ category.name }}
      </option>
    </select>
  </div>
</div>

<div class="editorRow">
  <div>
    <h4>Interval</h4>
    <input [(ngModel)]="task.interval.num" type="number" />
    <select
      [(ngModel)]="task.interval.method"
      (ngModelChange)="onIntervalMethodChange()"
    >
      <option [value]="intervalMethod.Day">Days</option>
      <option [value]="intervalMethod.Month">Months</option>
      <option [value]="intervalMethod.Year">Years</option>
      <option [value]="intervalMethod.NeverRepeat">
        Never Repeat (will be deleted after completion)
      </option>
    </select>
  </div>
  <div>
    <h4>Repetition Mode</h4>
    <input
      [disabled]="task.interval.method == intervalMethod.NeverRepeat"
      type="checkbox"
      [(ngModel)]="task.addToLastDueDate"
    />
    <label [ariaDisabled]=""
      >Follow interval strictly (fixed Dates) [EXPERIMENTAL!]</label
    >
  </div>
</div>

<div class="editorRow">
  <div>
    <h4>XP Reward</h4>
    <input
      pInputText
      [(ngModel)]="task.xp"
      type="number"
      min="0"
      max="{{ MAX_XP }}"
    />
  </div>
</div>

<h4>Description</h4>
<textarea
  [(ngModel)]="task.description"
  rows="4"
  class="descriptionTextArea"
></textarea>

<div class="editorRow">
  <div>
    <h4>Freeze Mode ❄️</h4>
    <input type="checkbox" [(ngModel)]="isFrozen" />
    <label [ariaDisabled]="">Is Frozen</label>
  </div>
  <span
    >The days till a task is due wont change till you unfreeze. Example: "Taxes"
    are due in 3 days. When you freeze it, they will still be at 3 days
    tomorrow.</span
  >
</div>
