<h2>Edit Tasks</h2>

<button (click)="redirect('/edit/new')">Add new Task</button>

<button (click)="redirect('/categories/')">Edit Categories</button>

<button (click)="redirect('/miniTasks/')">Edit Mini Tasks List</button>

<div class="tasksArea">
  <div class="task-container" *ngFor="let task of tasks">
    <div
      class="task"
      [ngStyle]="{
        background:
          '-webkit-linear-gradient(' + getCategoryColor(task) + ', #ffffff)'
      }"
      (click)="redirect('/edit/' + task.id)"
    >
      <div class="task-title-text" [innerHTML]="task.title"></div>
      <div class="task-last-post">
        Next due: {{ task.nextDueDate | date : "dd.MM.yyyy" }}
      </div>
    </div>
    <button class="task-delete-btn" (click)="deleteTask(task)">Delete</button>
  </div>
</div>
