<h2>Tasks</h2>

<div *ngIf="existsAtLeastOneDueTask()">
  <div class="day-container" *ngFor="let day of days">
    <div *ngIf="isDue(day.date)" class="dueDay">
      <div class="task-container" *ngFor="let task of day.tasks">
        <app-task-panel
          [task]="task"
          [categories]="categories"
          (taskSkipped)="openSkipTaskPopup(task)"
          (taskCompleted)="completeTask(task)"
          (taskDeleted)="deleteTask(task)"
        ></app-task-panel>
      </div>
    </div>
  </div>
</div>
<div *ngIf="!existsAtLeastOneDueTask()">No due Tasks yet.</div>

<div class="day-container" *ngFor="let day of days">
  <div *ngIf="!isDue(day.date)" class="notDueYet">
    <h2>
      {{ day.date | date }} ({{ day.date | date : "EE" }}) (in
      {{ daysTillDueStr(day.date) }}) {{ getMoonIcon(day.date) }}
    </h2>
    <div class="task-container" *ngFor="let task of day.tasks">
      <app-task-panel
        [task]="task"
        [due]="false"
        [categories]="categories"
        (taskSkipped)="openSkipTaskPopup(task)"
        (taskCompleted)="completeTask(task)"
        (taskDeleted)="deleteTask(task)"
      ></app-task-panel>
    </div>
  </div>
</div>

<p-dialog
  *ngIf="skipDialogTask"
  header="Skipping Task: {{ skipDialogTask.title }}"
  [(visible)]="showSkipDialog"
  [style]="{ width: '50vw', height: '300px' }"
  (onHide)="skipDialogTask = undefined"
>
  <div>
    Days to skip:
    <p-inputNumber
      [(ngModel)]="daysToSkip"
      (ngModelChange)="calcNewDueDateForSkip($event)"
      [showButtons]="true"
      buttonLayout="horizontal"
      spinnerMode="horizontal"
      inputId="integeronly"
      mode="decimal"
      [min]="-100"
      [max]="100"
      [step]="1"
      decrementButtonClass="p-button-success"
      incrementButtonClass="p-button-success"
    ></p-inputNumber>
  </div>
  <div>
    New Due Date: {{ newDueDateOnSkip | date }} ({{
      newDueDateOnSkip | date : "EE"
    }})
  </div>
  <div>
    <button (click)="showSkipDialog = false">Abord</button
    ><button (click)="skipTask(skipDialogTask)">Confirm and Move</button>
  </div>
</p-dialog>
