<div>
  <button (click)="undoAction()"><- Undo</button>
  <button (click)="freezeAll()" class="freezeBtn">Freeze All Tasks</button>
  <button (click)="unfreezeAll()" class="freezeBtn">Unfreeze All Tasks</button>
</div>

<h2 class="readable outlinedText">Due Tasks</h2>
<h5 class="readable outlinedText">
  Today, {{ todaysDate | date }} ({{ todaysDate | date : "EE" }})
  {{ moonPhaseAlt(_options?.showMoons) }}
</h5>

<div *ngIf="dueTasks.length > 0" class="day-container dueDay">
  <div *ngFor="let task of dueTasks" class="task-container">
    <app-task-panel
      [task]="task"
      [categories]="categories"
      (taskSkipped)="openSkipTaskPopup(task)"
      (taskCompleted)="completeTask(task)"
      (taskDeleted)="deleteTask(task)"
    ></app-task-panel>
  </div>
</div>
<div *ngIf="dueTasks.length === 0" class="readable outlinedText">
  No due Tasks yet.
</div>

<hr class="seperator" />

<div *ngFor="let task of futureDays" class="day-container">
  <h3 class="readable notDueYet outlinedText">
    {{ task.date | date }} ({{ task.date | date : "EE" }}) (in
    {{ daysTillDueStr(task.date) }})
    {{ getMoonIcon(task.date, _options?.showMoons) }}
  </h3>
  <div class="task-container" *ngFor="let task of task.tasks">
    <app-task-panel
      [task]="task"
      [due]="false"
      [categories]="categories"
      (taskSkipped)="openSkipTaskPopup(task)"
      (taskCompleted)="completeTask(task)"
      (taskDeleted)="deleteTask(task)"
    ></app-task-panel>
  </div>
  <span
    class="addNewTaskOnDay readable outlinedText"
    (click)="redirectToEditor(task.date)"
    >+ Add Task</span
  >
</div>

<p-dialog
  *ngIf="skipDialogTask"
  header="Moving Task: {{ skipDialogTask.title }}"
  [(visible)]="showSkipDialog"
  [style]="{ width: '100vw' }"
  (onHide)="skipDialogTask = undefined"
>
  <div>
    Days to move:
    <div>
      <p-button
        (click)="daysToSkip = daysToSkip - 1; calcNewDueDateForSkip(daysToSkip)"
        >-</p-button
      >
      <p-inputNumber
        [(ngModel)]="daysToSkip"
        (ngModelChange)="calcNewDueDateForSkip($event)"
        buttonLayout="horizontal"
        spinnerMode="horizontal"
        inputId="integeronly"
        mode="decimal"
        [min]="-100"
        [max]="100"
        [step]="1"
        (click)="selectValue($event)"
      ></p-inputNumber>
      <p-button
        (click)="daysToSkip = daysToSkip + 1; calcNewDueDateForSkip(daysToSkip)"
        >+</p-button
      >
    </div>
  </div>
  <div>
    New Due Date: {{ newDueDateOnSkip | date }} ({{
      newDueDateOnSkip | date : "EE"
    }})
  </div>
  <div *ngIf="skipDialogTask.usesStrictTime" class="warningText">
    BEWARE: Stict-Time is activated. Moving this Task could make you miss this
    time-based event. Move with intention!
  </div>
  <div>
    <button (click)="showSkipDialog = false">Abord</button
    ><button (click)="skipTask(skipDialogTask)">Confirm and Move</button>
  </div>
</p-dialog>

<div class="siteFooter"></div>
