<h2 class="readable">Due Tasks</h2>
<h5 class="readable">
  Today, {{ todaysDate | date }} ({{ todaysDate | date : "EE" }})
  {{ moonPhaseAlt() }}
</h5>

<div *ngIf="existsAtLeastOneDueTask()">
  <div class="day-container" *ngFor="let day of days">
    <div *ngIf="isDue(day.date)" class="dueDay">
      <div class="task-container" *ngFor="let task of day.tasks">
        <app-task-panel
          [task]="task"
          [categories]="categories"
          (taskSkipped)="openSkipTaskPopup(task)"
          (taskCompleted)="completeTask(task)"
          (taskDeleted)="deleteTask(task)"
        ></app-task-panel>
      </div>
    </div>
  </div>
</div>
<div *ngIf="!existsAtLeastOneDueTask()" class="readable">No due Tasks yet.</div>

<hr class="seperator" />

<div class="day-container" *ngFor="let day of days">
  <div *ngIf="!isDue(day.date)" class="notDueYet">
    <h2 class="readable">
      {{ day.date | date }} ({{ day.date | date : "EE" }}) (in
      {{ daysTillDueStr(day.date) }}) {{ getMoonIcon(day.date) }}
    </h2>
    <div class="task-container" *ngFor="let task of day.tasks">
      <app-task-panel
        [task]="task"
        [due]="false"
        [categories]="categories"
        (taskSkipped)="openSkipTaskPopup(task)"
        (taskCompleted)="completeTask(task)"
        (taskDeleted)="deleteTask(task)"
      ></app-task-panel>
    </div>
    <span class="addNewTaskOnDay readable" (click)="redirectToEditor(day.date)"
      >+ Add Task</span
    >
  </div>
</div>

<p-dialog
  *ngIf="skipDialogTask"
  header="Moving Task: {{ skipDialogTask.title }}"
  [(visible)]="showSkipDialog"
  [style]="{ width: '100vw' }"
  (onHide)="skipDialogTask = undefined"
>
  <div>
    Days to move:
    <div>
      <p-button
        (click)="daysToSkip = daysToSkip - 1; calcNewDueDateForSkip(daysToSkip)"
        >-</p-button
      >
      <p-inputNumber
        [(ngModel)]="daysToSkip"
        (ngModelChange)="calcNewDueDateForSkip($event)"
        buttonLayout="horizontal"
        spinnerMode="horizontal"
        inputId="integeronly"
        mode="decimal"
        [min]="-100"
        [max]="100"
        [step]="1"
        (click)="selectValue($event)"
      ></p-inputNumber>
      <p-button
        (click)="daysToSkip = daysToSkip + 1; calcNewDueDateForSkip(daysToSkip)"
        >+</p-button
      >
    </div>
  </div>
  <div>
    New Due Date: {{ newDueDateOnSkip | date }} ({{
      newDueDateOnSkip | date : "EE"
    }})
  </div>
  <div>
    <button (click)="showSkipDialog = false">Abord</button
    ><button (click)="skipTask(skipDialogTask)">Confirm and Move</button>
  </div>
</p-dialog>
