<div
  *ngIf="task"
  class="task-panel"
  [ngStyle]="{
    background:
      '-webkit-linear-gradient(' + getCategoryColor(task) + ', #000000)'
  }"
>
  <div class="task-content">
    <div class="task-title-text" (click)="showDetails = !showDetails">
      <span *ngIf="task.freezeDate">❄️</span
      ><span *ngIf="task.usesStrictTime">❗</span>{{ task.title }}
    </div>
    <div *ngIf="showDetails" class="task-options">
      <div class="task-description" [innerHTML]="task.description"></div>
      <span *ngIf="task.description.length == 0" class="task-description-empty"
        >No Description.</span
      >
      <div>
        <button (click)="redirectToEdit(task.id)">edit</button>
        <button (click)="deletePrompt()">delete</button>
        <span>XP: +{{ task.xp }} </span>
        <span *ngIf="due">- {{ dueSinceStr(task) }}</span>
        <span *ngIf="task.timesSkipped > 0">
          - Moves: {{ task.timesSkipped }}</span
        >
      </div>
    </div>
  </div>
  <div class="task-skip" (click)="taskSkipped.emit()">Move</div>
  <div class="task-complete" (click)="completePrompt()">Complete</div>
</div>
