<div [ngClass]="getDivClass()">
  <img [ngClass]="getImgClass()" [src]="backgroundImg" />
  <button (click)="redirectToEditor()">Add Task</button>
  <button (click)="popupMiniTasks()">Add Unregular Tasks</button>

  <p-dialog
    header="Select Unregular Tasks"
    [(visible)]="showMiniTaskPopup"
    [style]="{ width: '100vw' }"
    (onHide)="showMiniTaskPopup = false"
  >
    <app-mini-task-selector
      *ngIf="showMiniTaskPopup"
      (miniTasksSelected)="onMiniTasksSelected()"
    ></app-mini-task-selector>
  </p-dialog>

  <app-timeline></app-timeline>

  <app-xp-progress-bar></app-xp-progress-bar>
</div>
